/4_Seleksi Fitur
/5_Decision Tree
/5_Decision Tree.zip
/6_Naive Bayes
/archive
/archive (1).zip
/archive (2)
/archive (2).zip
/archive.zip
/archive0
/archive0.zip
/breast-cancer.csv
/class-grades_1.csv
/class-grades_1.xlsx
/diabetes.csv
/from sklearn.py
/hipertensi.csv
/hipertensi.xlsx
/id3_hipertensi.py
/id3_playingtennis.py
/Lampiran+Catatan+Review.pdf
/Laporan Kelompok 8.docx
/latian seleksi fitur.docx
/Latihan Sistem Rekomendasi_187221048.docx
/Latihan Sistem Rekomendasi_187221048.zip
/Latihan_FCM_187221048.zip
/Latihan_FCM_Kelompok 8
/Latihan_K Means_187221048.zip
/Latihan_Seleksi Fitur_187221048.zip
/Latihan_Transformasi_187221048.zip
/mltree_id3_1.py
/mltree_id3_2.py
/MODUL 7 K-Means Clustering.docx
/MODUL 8 Fuzzy C-Means.docx
/MODUL 9 Recommender System.docx
/netflix_titles.csv
/netflix_titles.csv.zip
/Python-Data Reprocessing-Kelompok11.py
/ratings.csv
/ratings.csv.zip
/raw-material-properties.xlsx
/se_1,+##default.groups.name.editor##,+9163-99Z_Artikel-64223-1-2-20210506.pdf
/shopping_data.csv
/shopping_data.xlsx
/Soal UTS.docx
/Soal UTS.pdf
/tempCodeRunnerFile.py
/Tugas Data dan Data PreProcessing_Kelompok 11.zip
/Tugas Data dan Data PreProcessing_Kelompok 11.zip.rar
/Tugas Data dan Data Preprocessing_Kelompok 8
/Tugas Data dan Data Preprocessing_Kelompok 8.zip
/TUGAS MLPRAK MATLAB NORMALISASI DATa.txt
/Tugas Seleksi Fitur_Kelompok 8
/Tugas Seleksi Fitur_Kelompok 8.docx
/Tugas Seleksi Fitur_Kelompok 8.zip
/tugas3.py
/TugasDTdanRF.py
/Tugas_FCM_Kelompok 8.zip
/Tugas_K Means_187221048
/Tugas_K Means_187221048.zip
/Tugas_Transformasi_187221048
/Tugas_Transformasi_187221048.zip
/UAS.zip
/UTS 2
/UTS 2.zip
/UTS.zip
/UTS_Kelompok8
/UTS_Kelompok8.zip